$:render.header()
 
        <h2>What are we?</h2>
        <p>Welcome.Twitter Cube is built by HKUST students and is a magic place where you can find amazing things using twitter!</p> 
	<ul>
          <li>
          <h3>Asking Experts</h3>
           <p>Do you have any quetions that you don't know who can turn to ask? Come here! We can find those experts concerning your problem in twitter!</p> 
          </li>
          <li>
          <h3>Event Tracking</h3>
           <p>Wondering what happens right now? Want to know how a big event exposes? In here see how magic happens!</p> 
          </li>
          <li>
          <h3>Exploring</h3>
          <p>Have you ever wondered what a twitter society looks like? Do you want to discover new amazing stuff just by clicking your mouse? Then what are you waiting for!</p> 
          </li>
       </ul> 

  <script src="static/js/about.js"></script>

$:render.foot()

