$:render.header() 


  <div class="parent">   
	<div class="sidebar">
  	    <div class="sidebar_user_info">
		  <div class="userpic">
			<a href="" target="_blank"><img src="" width="64px" height="64px"/></a>
		  </div>
		  <div class="name">
			<a href="" target="_blank">name</a>
		  </div>
		  <div class="screenname">
			<a href="#" target="_blank">@screen_name</a>
		  </div>
		  <div class="userlocation">
			<a href="#" target="_blank">location</a>
		  </div>
		  <hr>
		  <table id="user_info_table" border="0" cellpadding="2"> 
			<tr>
			  <td>
		        <label>
				<a href="#" target="_blank"><strong id="statuses_count">111</strong></a>
		        </label> 
			  </td>
			  <td>  
				<a href="#" target="_blank"><strong id="following_count">222</strong></a> 
			  </td>
			  <td>
				<a href="#" target="_blank"><strong id="followers_count">333</strong></a> 
			  </td>
			</tr>
			<tr>
			  <td>
				<a href="#" target="_blank">TWEETS</a> 
			  </td>
			  <td>
				<a href="#" target="_blank">FOLLOWING</a> 			
			  </td>
			  <td>
				<a href="#" target="_blank">FOLLOWERS</a> 			
			  </td>
			</tr>
		  </table>
		</div>  <!--  end for class=sidebar_user_info div -->

		<div class="sidebar_questions"> 
	      <h4>People are asking: </h4>  
		  <table class="table" id="asking-table" width="100%">  
		    <thead> 
		    </thead>
		    <tbody>    
			  <tr>
			  <td>one</td>
 			  </tr>
			  <tr>
			  <td>two</td>
 			  </tr>
			  <tr>
			  <td>three</td>
 			  </tr>
			  <tr>
			  <td>four</td>
 			  </tr>
			  <tr>
			  <td>five</td>
 			  </tr> 
		    </tbody>
		  </table>
		</div> <!--  end for class=sidebar_questions div -->

	</div>  <!--  end for class=sidebar div -->


     <!-- asking-div start right -->
	<div class="asking-div">
      <div class="form_class">
	  <form class="form-horizonal" id="asking_form" method="POST">
		<fieldset>
		  <div class="control-group center">
			<h3 class="control-label" id="textarea-label">Type your question here:</h3>
			<div class="controls">   
			  <textarea class="input-xlarge" id="textarea" rows="4">
			  </textarea> 	
			</div>
		  </div>    <!--  end for class = 'control-group center' div -->

		  <div class="tweet-button-sub-container">
			<button id="show-experts" class="btn btn-success" type="submit" data-loading-text="Calculating.... " data-complete-text="Finished!" disabled="true">
			Show Experts
			</button>  
			<span class='icon-question-sign' title="Click this button to know whom you can @ to answer your question" onmouseover="jQuery(this).tooltip('show')"></span>
			&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
			<input class="tweet-counter" id="word-counter" value="140" disabled="disabled"/>

			<button id="ask-them" class="btn btn-primary" type="submit" data-content="Click here to tweet your question and then you can wait for their reply!" data-original-title="Tweet It!" onmouseover="jQuery(this).popover('show')" data-loading-text="Tweeting.. " disabled="true">
			Ask Them
			</button> 
		  </div>   <!--  end for class = 'tweet-button-sub-container' div -->
		</fieldset>
	  </form>  
      </div>  <!--  end for class = 'form_class' div -->
	
	  <div class="help_div"> 
        <span class="label label-important">How to Use?</span>
        <dl class="dl-horizontal">
		  <dt>Got Question?</dt>
          <dd> 
            Just type your question in the textarea.
          </dd>
 		  <dt>Then What?</dt>
          <dd>
            Click the green button. And then wait for the amazing result!
          </dd>
		  <dt>Last Step</dt>
          <dd>
            Click the blue button to submit your tweet!
          </dd>      
        </dl>
	  </div> <!--  end for class = 'help_div' div -->

	  <div class="category_div">
		<span id="category-title"><h4>Category: &nbsp;&nbsp;</h4>
		</span> 
		<text id="category" class="category"></text>
	  </div>

	  <div class="experts-table table table-striped">
        <hr>
	    <span id="experts-title" title="Click here to toggle the table below" onmouseover="jQuery(this).tooltip('show')">
	      <h4><a href='#'>Experts: </a></h4> 
	    </span>
	    <table id="experts-table-inside" width="100%">  
          <thead>
		    <tr>
		      <th>Image</th>
			  <th>Expert Name</th>
			  <th>Expert Description</th>
		    </tr>
          </thead>
          <tbody>
          </tbody>
		</table>
      </div>  <!-- end div for class="experts-table table table-striped  -->
  

      <div class="user_tweets_parent_div">
		  <span id="user_tweets"><h4>Tweets: </h4> </span>
		  <div class="user_tweet_div" id="user_tweet_div_0">
			<div class="user_img_div">
			  <a href="" target="_blank"><img src="" width="48px" height="48px" /></a>
			</div>
			<div class="user_name_div">
			  <a href="" target="_blank"></a>
			</div>
			<div class="user_screen_name_div">
			  <a href="" target="_blank"></a>
			</div>
			<div class="tweet_delete_div"><a href="#">delete</a></div>
			<div class="tweet_time_div"> </div>
			<div class="tweet_text_div"> </div>  
            <input type="hidden" class="tweet_id_input"></input> 
		  </div>
      </div>

	</div>  <!-- end div for class="asking-div"  -->
  </div> <!-- end div for class="parent"  -->


  <script src="static/js/asking.js"></script>
  

$:render.foot() 
