$def with(session)

$:render.header(session)

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="static/js/excanvas.js"></script><![endif]--> 
<script language="javascript" type="text/javascript" src="static/js/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="static/js/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="static/js/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="static/js/jqplot.dateAxisRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/jquery.jqplot.css" />


  <div class="parent"> 
    <!-- event-keyword-div start  -->  
	<div class="event-keyword-div">
    	<!-- keyword-freq-div start  -->  
        <div class="keyword-freq-div">
 		 <table class="table table-bordered" id="keyword_table" width="100%">  
		    <thead> 
			  <tr>
			  	<td width="50%" class="inline">
                  <h4>Keywords &nbsp;&nbsp;
                  <select class="span2 inline" id="keyword_date">
                    <option>2009-04-15</option>
                    <option>2009-04-16</option>
                    <option>2009-04-17</option>
                    <option>2009-04-18</option>
                    <option>2009-04-19</option>
                    <option>2009-04-20</option>
                    <option>2009-04-21</option>
                    <option>2009-04-22</option>
                    <option>2009-04-23</option>
                    <option>2009-04-24</option>
                    <option>2009-04-25</option>
                    <option>2009-04-26</option>
                    <option>2009-04-27</option>
                    <option>2009-04-28</option>
                    <option>2009-04-29</option>
                    <option>2009-04-30</option>
                  </select>
                  </h4> 
                </td>
			  	<td class="inline" valign="center"><h4>Frequency</h4></td>
 			  </tr>
		    </thead>
		    <tbody>    
			  <tr>
			  	<td><a href="#" class="keyword" id='keyword_1'>word_one</a></td>
			  	<td id='frequency_1'>frequency_one</td>
 			  </tr>
			  <tr>
			  	<td><a href="#" class="keyword" id='keyword_2'>word_two</a></td>
			  	<td id='frequency_2'>frequency_two</td>
 			  </tr>
			  <tr>
			  	<td><a href="#" class="keyword" id='keyword_3'>word_three</a></td>
			  	<td id='frequency_3'>frequency_three</td>
 			  </tr>
			  <tr>
			  	<td><a href="#" class="keyword" id='keyword_4'>word_four</a></td>
			  	<td id='frequency_4'>frequency_four</td>
 			  </tr>
			  <tr>
			  	<td><a href="#" class="keyword" id='keyword_5'>word_five</a></td>
			  	<td id='frequency_5'>frequency_five</td> 
		    </tbody>
		  </table>
        </div>  <!-- end div for class="keyword-freq-div"  -->
		
    	<!-- related-news-div start  -->  
		<div class="related-news-div">
 		 <table class="table table-bordered" id="news_table" width="100%">  
		    <thead> 
			  <tr> 
			  	<td><h4>Related News Title</h4></td>
 			  </tr>
		    </thead>
		    <tbody>    
			  <tr>
			  	<td id='title_1'>title_one</td> 
 			  </tr>
			  <tr>
			  	<td id='title_2'>title_two</td> 
 			  </tr>
			  <tr>
			  	<td id='title_3'>title_three</td> 
 			  </tr>
			  <tr>
			  	<td id='title_4'>title_four</td> 
 			  </tr>
			  <tr>
			  	<td id='title_5'>title_five</td> 
		    </tbody>
		  </table>
		</div><!-- end div for class="related-news-div"  -->
	</div> <!-- end div for class="event-keyword-div"  -->

	
    <!-- event-graph-div start  -->
    <div class="event-graph-div">   
		<!-- keyword-control-div start  -->  
		<div class="keyword-control-div">
	      <form class="form-horizonal" method="POST">
		    <fieldset>
	 		 <table class="table table-bordered" id="keyword_contrl_table" width="100%">  
				<thead> 
				  <tr> 
				  	<td colspan="2"><h4>Select Distance of Keyword Graph</h4></td>
	 			  </tr>
				</thead>
				<tbody>    
				  <tr>
				  	<td colspan="2" id='distance'>
						<label class="radio inline">
							<input type="radio" name="distanceRadios" id="distance_7" value="7d" checked>
							7 days
						</label>&nbsp;&nbsp;
						<label class="radio inline">
							<input type="radio" name="distanceRadios" id="distance_14" value="14d">
							14 days
						</label>&nbsp;&nbsp;
						<label class="radio inline">
							<input type="radio" name="distanceRadios" id="distance_30" value="30d">
							30 days
						</label>
					</td> 
	 			  </tr>
				  <tr>
				  	<td colspan="2">
						<button id="graph" class="btn btn-primary" type="submit" data-content="Click here to show the graph of your selected keyword!" data-original-title="Show Keyword Graph!" onmouseover="jQuery(this).popover('show')" data-loading-text="Calculating.. ">
						Show Keyword Graph!
						</button> 
					</td> 
	 			  </tr>
				  <tr>
				  	<td width="30%"><h4>Current Keyword</h4></td> 
				  	<td id='current_keyword'>All Keywords</td> 
	 			  </tr>
				  <tr>
				  	<td width="30%" rowspan="4" valign="middle"><h4>Similar Keywords</h4></td> 
				  	<td id='similar_keyword_1'>similar_keyword_1</td> 
	 			  </tr>
				  <tr> 
				  	<td id='similar_keyword_2'>similar_keyword_2</td> 
		          </tr>
				  <tr> 
				  	<td id='similar_keyword_3'>similar_keyword_3</td> 
		          </tr>
				  <tr>
				  	<td id='similar_keyword_4'>similar_keyword_4</td> 
		          </tr>
				</tbody>
			  </table>
			</fieldset>
		  </form>  
		</div><!-- end div for class="keyword-control-div"  -->

	    <!-- keyword-graph-div start  -->  
		<div class="keyword-graph-div" id="chartdiv"> 
		</div><!-- end div for class="keyword-graph-div"  -->
		
	</div>  <!-- end div for class="event-graph-div"  -->

  </div> <!-- end div for class="parent"  -->

  <script src="static/js/event.js"></script>
$:render.foot()

