$:render.header()
 
      <div class="hero-unit">
        <h1>Welcome to Twitter Cube!</h1>
		<p>This is the index page of Twitter Cube!</p>
		<p>Twitter Cube is built by HKUST students and is a magic place where you can find amazing things using twitter!</p>
        <p><a class="btn btn-primary btn-large" a href="sign_in_with_twitter" >Sign in with twitter »</a></p>
      </div>

       <div class="row">
        <div class="span35">
          <h2>Asking Experts</h2>
           <p>Do you have any quetions that you don't know who can turn to ask? Come here! We can find those experts concerning your problem in twitter!</p>
          <p><a class="btn" href="asking.html">View details »</a></p>
        </div>
        <div class="span35">
          <h2>Event Tracking</h2>
           <p>Wondering what happens right now? Want to know how a big event exposes? In here see how magic happens! Don't you feel so excited?</p>
          <p><a class="btn" href="event.html">View details »</a></p>
       </div>
        <div class="span35">
          <h2>Exploring</h2>
          <p>Have you ever wondered what a twitter society looks like? Do you want to discover new amazing stuff just by clicking your mouse? </p>
          <p><a class="btn" href="explore.html">View details »</a></p>
        </div>
      </div>

$:render.foot()
